black==25.12.0
click==8.3.1
contourpy==1.3.2
cycler==0.12.1
exceptiongroup==1.3.1
fonttools==4.61.1
hs-test-python @ https://github.com/hyperskill/hs-test-python/archive/release.tar.gz#sha256=ef79a590e311b2f001df9065cebed95ef25211b000f55c5904006b095217d0c7
iniconfig==2.3.0
isort==7.0.0
kiwisolver==1.4.9
librt==0.7.7
matplotlib==3.10.8
mypy==1.19.1
mypy_extensions==1.1.0
nodeenv==1.10.0
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pathspec==1.0.3
pillow==12.1.1
platformdirs==4.5.1
pluggy==1.6.0
psutil==7.0.0
Pygments==2.19.2
pyparsing==3.3.2
pyright==1.1.408
pytest==9.0.2
python-dateutil==2.9.0.post0
pytokens==0.3.0
pytz==2025.2
ruff==0.14.11
scipy==1.15.3
seaborn==0.13.2
six==1.17.0
tomli==2.4.0
typing_extensions==4.15.0
tzdata==2025.3
